.header {
	font-family: 'Great Vibes', cursive;
}

.tabs {
	margin: 2%;
}

.holders {
	display:inline-block;
	margin-left: 2%; 
}

body{
	background-image: url("../Images/million-women-march.jpg");
	text-align: center;
	background-size: 100%;
}
